[2022-08-05 11:05] RobertBrunhage opened #3 "[chore] - add linting support"
Hey, always been lurking in your videos and took a quick look at the codebase. I think the net biggest improvement will be done by just adding lints.

There are a couple of different approaches but new projects use [flutter_lints](https://pub.dev/packages/flutter_lints) which does the job quite well. This would just be a tedius change as there will probably be a lot of small issues that needs to b

[2022-08-05 11:42] Programmer-RD-AI opened #4 "README.md and LICENSE and .gitnore"
Hi,
It seems that the repo doesn't have a README.md and LICENSE and .gitnore. So It would be useful to have those files for new contributors to know what the project is about and etc...

[2022-08-05 11:45] Programmer-RD-AI opened #6 "Discussion Section"
Hi,
I think it would be useful to have a discussion section, so other contributors can discuss about the project.

[2022-08-05 11:56] k-rokicki opened #7 "API key restrictions"
Since you've included your `google-services.json` file in the repo, which contains your API key:
https://github.com/KalleHallden/exer_log/blob/3893b56325da513b9fff304d97911d6b58509979/app/exerlog/android/app/google-services.json#L38-L42

you might want to consider adding restrictions to this key:

https://stackoverflow.com/a/57067722

Also, remember: once you publish your key, you can no longer tr

[2022-08-05 15:50] edrisranjbar opened #9 "Git directory structure"
I think we should put **Git** on the main directory where the `.README` file exists. so that when users come to the _repo_ get a gist of the project and can read the DOCS we want them to read.
so instead of going to `/app/exerlog` user sees the project after `cloning the project`. **notice that we clone a repo it automatically will be extracted within a directory with the same name as the `repo na

[2022-08-05 17:27] dinurymomshad opened #10 "MVVM, Riverpod state management and Folder by feature structure"
Hey big fan of your videos.
Honestly, I have been waiting for this. So let's get to work.

I went through the code base.  I'd like to propose organising the directory as following for the new comers to adapt easily:

<img width="615" alt="Screenshot 2022-08-05 at 11 26 02 PM" src="https://user-images.githubusercontent.com/26508767/183129506-b908d84e-57ff-4c56-a05a-a3e61b882f81.png">

[2022-08-05 17:30] dinurymomshad commented on #10
Ideally inside authentication directory this is what I normally do:

<img width="604" alt="Screenshot 2022-08-05 at 11 29 44 PM" src="https://user-images.githubusercontent.com/26508767/183130034-2f8b8ab9-109f-4d4b-8ca0-5821d2ae24c9.png">

But since this is done in firebase, we don't have that much going on in here. So we can simplify this like the first image

[2022-08-05 17:32] dinurymomshad commented on #10
We can also throw a local widget directory in there, if needed.

<img width="471" alt="Screenshot 2022-08-05 at 11 32 27 PM" src="https://user-images.githubusercontent.com/26508767/183130468-a6269734-513d-44c9-b786-0b0e7befc52d.png">

[2022-08-06 01:06] DobleV55 opened #13 "Remove the .git folder from the flutter folder"
When you initially uploaded all the code, the flutter folder on your local machine has a .git folder inside, causing now a flutter folder that's seems empty and has that little icon in the github view.
I recommend to delete the .git folder inside the flutter folder and to commit-push again the contents of that folder, in case you don't want the content to be public on the repo, just add it to the

[2022-08-06 06:22] KalleHallden opened #14 "Google Sign in returns error"
When pressing the Google sign in button the app breaks.

This bug is fixed when signing in with Google works. Work on this in the [Login branch](https://github.com/KalleHallden/exer_log/tree/Login)

[2022-08-06 06:30] KalleHallden opened #15 "Provide Login feedback for users"
# Create feedback for users
Logging in
- incorrect password
- incorrect email
- email/account doesn't exist

Signing up
- email already exists
- passwords don't match
- password is too short

This issue is done when all of the above is completed. This feature should be worked on in the branch [Login ](https://github.com/KalleHallden/exer_log/tree/Login)

[2022-08-06 08:40] Scount commented on #14
### Found Exception
When i am trying to login with google i get this exception:
`PlatformException(sign_in_failed, com.google.android.gms.common.api.ApiException: 10: , null, null)`
 The code 10 is refered to a misconfiguration as described on the [official documentation](https://developers.google.com/android/reference/com/google/android/gms/common/api/CommonStatusCodes).
### Firebase setup
I can

[2022-08-06 13:01] AnsgarLichter opened #17 "feat: convetional commits to create an explicit commit history"
I suggest to add a convention for the commit messages to ensure explicit commit messages. This makes it easier to create automated changelogs and other things.

I have used [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) including git hooks to validate the commit messages during every commit.

[2022-08-06 13:44] dinurymomshad commented on #17
This is pretty good one. 💯

[2022-08-06 15:14] HacDan commented on #7
This should be added to the .git ignore and invalidated by @KalleHallden. Security wise this should never be public.

[2022-08-06 15:16] HacDan commented on #15
I would recommend not specifying which item is incorrect when logging in. It provides information to bad actors that they don't need.

For the signup process you'll need to notify if the email exists. But for the log in process not so much.

[2022-08-06 15:22] k-rokicki commented on #7
Well, not really - as mentioned in the SO thread above:

The API key becomes public as soon as you publish your app to Google Play, so I believe the way to go is to set key restrictions properly.

[2022-08-06 15:26] k-rokicki commented on #7
About adding `google-services.json` to `.gitignore` - I agree if the documentation mentions that this file should be placed in that directory, otherwise I would leave the file where it is, possibly with credentials set to `""`

[2022-08-06 15:26] HacDan commented on #7
I was referring to a little farther down the thread.

Also note that, although they are public for your application, these files should not be made available on public repositories of open source projects.

[2022-08-06 17:25] ckelwin opened #20 "`Sign up` button does not appear when selecting `Sign up` tab"
The `Login` button remains (instead of switching to `Sign up` button when `Sign up` tab is selected.

![image](https://user-images.githubusercontent.com/5429312/183259453-f53d0180-1eaa-4bf6-8e3c-bd268fd8a266.png)
![image](https://user-images.githubusercontent.com/5429312/183259455-0b38eb5e-2a7b-4610-8913-6cbf3e9030e8.png)

[2022-08-07 07:43] KalleHallden commented on #17
Great idea! Is the best way to add a section about commit conventions to the readme to inform people or how would you recommend doing it?

[2022-08-07 08:14] #20 closed

[2022-08-07 08:15] KalleHallden commented on #15
Good point @HacDan!

[2022-08-07 08:21] KalleHallden commented on #10
Great suggestion and thank you for writing out the structure so thoroughly!

[2022-08-07 08:27] KalleHallden commented on #3
Thanks! Great idea, I'll have a look at that. I've heard of lints but never used it so I'll have to learn!

[2022-08-07 08:41] jaedag commented on #17
You could also use a tool to enforce conventional commits in the repo. I've used something like that in my reacts projects.

I'll look into it to see if I can find anything similar for flutter since the project dependencies are not installed using npm

[2022-08-07 09:40] AnsgarLichter commented on #17
Normally I use a tool which makes use of [git hooks](https://git-scm.com/book/de/v2/Git-einrichten-Git-Hooks#_git_hooks) to enforce commit conventions.
Unfortunately I have only used tools which can be installed via npm. I have used [(Husky)](https://www.npmjs.com/package/husky) in combination with [Commitlint for conventional commits](https://www.npmjs.com/package/@commitlint/config-conventional)

[2022-08-07 13:16] dinurymomshad commented on #10
@KalleHallden do you want me to convert a feature like this? I think Login, Sign up would be a great point to start. Let me know if you want that.

Also, if we start working on this, then until this gets merged we should not accept any other changes in the authentication area to avoid merge conflict. Given this would be a huge change. LMK, what you think

[2022-08-07 15:30] ckelwin opened #22 "Set widget input field allows invalid input"
Set widget input fields allow invalid input, i.e. non number values.

![image](https://user-images.githubusercontent.com/5429312/183297451-42abebab-f398-481e-a855-33fbd264651a.png)

[2022-08-07 16:31] ckelwin opened #24 "Cannot say no in `Delete workout` confirmation dialog"
There is no option to cancel or choose `No` in the delete workout confirmation dialog.

To add: A `Cancel` or `No` button to the popup.

![image](https://user-images.githubusercontent.com/5429312/183301146-c89b13dc-502e-4d0c-9690-1b3e7d2a238b.png)

[2022-08-07 16:39] ckelwin opened #25 "UI behavior with multiple workouts logged for the same day"
Problem:
When multiple workouts are logged for the same day, there is no indication on the day (or the subsequent page when the day is clicked) that there is more than one workout logged. It appears that the subsequent page (set_widget) only displays that last workout information.

Should each workout on the same day be displayed on the same page, one after the other?
Should the `Totals` data at t

[2022-08-07 16:58] ckelwin opened #26 "Saved template removed when the original workout it was created from is deleted"
Problem:
1. Create a new workout (A) and save it as a template (B).
2. The template is available to be used when starting a new exercise. [OK]
3. Delete workout (A).
4. Start a new workout. Notice that the template (B) is no longer available.

Suggestion:
The `template` should be separate from the original workout it was created from. The template should remain even when the workout is deleted.
Mi

[2022-08-07 17:04] ckelwin opened #27 "UI tweak for `Save Workout` page"
Problem:
The `textfield` on this page is the `template name`. The textfield is enabled even when the checkbox for `Save as template` is disabled. This may cause confusion to some, as the `hintText` for the textfield even says `name your workout`.

Suggestion:
1. Move the textfield down, after the checkbox. Textfield should be disabled when checkbox is unchecked, and enabled when checked.
2. Update

[2022-08-07 17:10] ckelwin commented on #25
There is a (+) button at the bottom right, allowing to add additional workouts for the same day.

The problem raised in the previous comment is when a **new workout** is started on the same day when there's already a previously logged workaround.

The solution should probably be to check and load previous workouts for the same day when a new workout is started?

![image](https://user-images.github

[2022-08-07 17:15] ckelwin opened #28 "Cannot enter new workout name when template exists"
Is this expected? Should the UI be redesigned?

Template exists. Cannot enter name of template. Only template selection is visible.
![image](https://user-images.githubusercontent.com/5429312/183302831-4c8d485a-9d0b-4b16-ab0b-c451fc4d807f.png)

No template exists. Can enter new workout name.
![image](https://user-images.githubusercontent.com/5429312/183302851-fb6d62ab-c4d2-4d5b-ab84-d60e8b1d583d.pn

[2022-08-07 17:25] dinurymomshad commented on #25
@ckelwin Is calendar working for you. After adding a work out if you go back to calendar page and click on the date, does it take you anywhere? If not, then what are we supposed to do with calendar?

CC: @KalleHallden

[2022-08-07 20:37] HaardikBhagtani opened #29 "not able to google sign in"
[code]
Getting this error when trying to google sign in.
As mentioned in this [stackoverflow answer](https://stackoverflow.com/a/66660098/19075143), we need to add debug SHA-1 keys of developers to the firebase project. How can that be done?

[2022-08-07 21:00] Scount commented on #29
@HaardikBhagtani This is a duplicate of #14. Adding the SHA-1 key can only be done by @KalleHallden because he is the only one with access to the firebase project. I would suggest to close this issue and continue with #14.

[2022-08-07 22:34] HaardikBhagtani commented on #29
closing this issue because it is duplicate #14

[2022-08-07 22:34] HaardikBhagtani commented on #29
closing this issue because it is duplicate #14

[2022-08-07 22:34] #29 closed

[2022-08-08 07:23] KalleHallden commented on #26
Okay I see. Yeah that is a great idea to keep them separated. And to, like you said, also add a page for editing and creating templates. My end goal with templates has been to allow the user to setup full workout plans that could last anywhere from days to months to potentially years. Where the user can select how often to perform the workout, how the progression should occur (ie for every exercis

[2022-08-08 07:57] KalleHallden commented on #25
Yeah this is something I haven't gotten around to. But I think a good way would be that if there are multiple workouts for the same day on the calendar and it is clicked then a popup window could appear showing a list of only the workout names, if a name exists, otherwise it can show just the workout date or something. I'm not sure about the best way, I feel like taking the user to a workout page

[2022-08-08 07:59] KalleHallden commented on #25
@dinurymomshad that sounds like a bug to me or something that hasn't been set up properly by me. When I've tested the app previously that use case has worked. So I'm not sure if I've broken something since or if it's just an edge case. Either way it will need to be fixed. Would you mind creating an issue with the label bug and describing the error a bit more?

[2022-08-08 08:02] dinurymomshad commented on #25
@KalleHallden On it.

[2022-08-08 08:04] KalleHallden commented on #27
Yeah I'm not sure if this is the best way to do it but my thinking has been that it might be good to allow the user to name their workout even if they don't save it as a template. I don't know if I've thought this through though so it might be that there is never a case where a user will want to see the name of an old workout but not have it saved as a template. So it might be better the way that

[2022-08-08 08:07] KalleHallden commented on #28
It is to be expected the way that I designed it. But like most things I have designed there may well be a better way. Are you thinking that using a search field would be better, so that the user can search for workout templates?

In the case that a user has used the app for a long time and has hundreds of templates then this is probably better.

[2022-08-08 08:09] dinurymomshad opened #33 "Calendar widget not responding when tapped on date"
**Steps to reproduce:**
1. Login
2. Add a new work out
3. Pop back to Calendar page
4. Click on current date
5. Observe nothing happens

_Current_: Nothing happens
_Expected_: I should be able to see workout for that day

Video:
https://user-images.githubusercontent.com/26508767/183371431-7f9350e4-0758-40ef-ae41-5e3f5bf6522c.mp4

[2022-08-08 08:13] dinurymomshad commented on #33
@KalleHallden 👀

[2022-08-08 08:17] dinurymomshad commented on #33
@KalleHallden I haven't tested this branch but is it possible that this branch (https://github.com/KalleHallden/exer_log/tree/calendar-page) wasn't merged and the feature is working fine there?

[2022-08-08 09:33] vancegillies commented on #10
This is by far the biggest issue with the codebase and should be nailed down before continuing. Especially because you have open sourced this, You want anyone jumping in to understand the codebase and how it is to be structured.

I would recommend just making a new folder and start transferring stuff across, the app is small enough that it wouldn't take to long and it avoids all the merge conflict

[2022-08-08 15:18] ckelwin commented on #33
@dinurymomshad
The `calendar-page` branch contains 1 line of code change that does not affect functionality.

I believe the issue is that you clicked on the `back` button (left arrow at the top right). You should have clicked on the checkmark icon on the top right.

![image](https://user-images.githubusercontent.com/5429312/183451794-85710e53-a378-47ac-b863-2cfd254dbef8.png)

@KalleHallden For thi

[2022-08-08 16:21] ckelwin commented on #24
I'll close this as it's possible to press the `Back` button. I tested on the emulator and did not try it out the first time.

[2022-08-08 16:31] dinurymomshad commented on #10
@KalleHallden Expecting your feedback. If you agree I'll get started

[2022-08-08 16:32] dinurymomshad commented on #33
Hah, was wondering what that button was for. Thanks @ckelwin

[2022-08-08 17:27] ckelwin commented on #28
I'm still a bit unclear on the process flow of this app. When it is empty (I do not have any workouts yet), the `Start new workout` suggests I am trying to log my workout routines into the app. This makes sense as the "workout data" is stored with the current (server) timestamp. So, this is something happening 'now'.

However, once a template is created, there's only the dropdown to select workout

[2022-08-08 17:44] ckelwin commented on #25
Trying to understand the terminologies. Clicking on a day from the calendar brings us to the screen shown in my screenshot above. In that example, I created 3 workouts (?) (second and third named aaabbb and fffff). Imagine this is one session in the morning at the gym and someone is doing 3 different exercises. In the evening, he goes again and does 2 other workouts, D and E.

How would you want t

[2022-08-08 18:11] ckelwin commented on #33
@dinurymomshad  Safe to close this issue then?

[2022-08-08 18:23] #33 closed

[2022-08-08 19:37] HaardikBhagtani commented on #24
@ckelwin, wouldn't it be better to have a `Cancel` Button along with a `Delete` Button? Wouldn't it better the UX?

[2022-08-09 05:59] KalleHallden commented on #28
Great points, I agree! That sounds like a better UX. Let's do that!

[2022-08-09 06:03] KalleHallden commented on #28
I created the [smaller-features](https://github.com/kallehallden/exer_log/smaller-features) branch where these sort of smaller improvements can be worked on.

[2022-08-09 06:06] KalleHallden commented on #10
Yeah definitely man! Go for it, seems like you have a better idea of creating proper structure than me so that would be awesome!

[2022-08-09 06:07] KalleHallden commented on #10
I believe this would be fine to work on in the master branch

[2022-08-09 14:39] ckelwin commented on #24
@HaardikBhagtani I have no strong preference one way or another. I only need a way to 'go back' or cancel and I found it. It could be good UX to include a `Cancel` button.

@KalleHallden What do you think? Should it be included? If so, we can reopen this issue.

[2022-08-09 21:53] DanielNoord commented on #3
@KalleHallden Just some unsolicited advice, I'd block any actual work on features etc by this and #10 and #9. The amount of merge conflicts caused by such large project wide changes would probably turn off anybody who is trying to contribute.

Also, somewhere down the road you should probably have `pre-commit` or GitHub Actions run these lints automatically on all commits and PRs. Ideally such wor

[2022-08-10 06:56] KalleHallden commented on #3
@DanielNoord Yeah I think that would be a good idea.
But I don't quite understand what you mean when you write '...block any actual work on features etc **by** this and #10 and #9'? Do you mean block all issues except this one (#3) and 10 and 9? Or do you mean the opposite hehe

I have zero experience running an open source project so I really have no idea what I'm  doing at this point

[2022-08-10 06:58] KalleHallden commented on #4
Hi! Not sure what you mean, it does have README and LIcense. Is the apache license more suitable for the project than an MIT?
Other than that I think we have everything. .gitignore I have, but maybe it's been removed so not sure?

[2022-08-10 06:59] KalleHallden commented on #6
Great idea!

[2022-08-10 07:00] DanielNoord commented on #3
Yeah, the first option. Basically, if stuff gets moved around or every line gets changed because of linting (for example because the linter wants to use `'` instead of `"`) it will be very difficult to then subsequently merge any feature branches into `main`.

Ideally, you should do some of this yourself as it is much easier to "trust" that way. Having unknown contributors move around all your fil

[2022-08-10 07:01] KalleHallden commented on #14
Yeah I think that is the issue. I have set up SHA-1 key but it might be that I need to set up a production key or something

[2022-08-10 07:08] Programmer-RD-AI commented on #4
Hi,
I created this issue 5 days ago. So this is outdated.
I am sorry for the confusion.
With best regards,
Ranuga

[2022-08-10 07:08] #4 closed

[2022-08-10 07:13] KalleHallden commented on #9
Great idea I think this is being dealt with or will be dealt with after #10

[2022-08-10 07:14] KalleHallden commented on #13
I believe that this is being dealt with in #10 if not let me know!

[2022-08-10 07:16] KalleHallden commented on #6
I've created a [project board](https://github.com/users/KalleHallden/projects/1/views/1) to five some idea as to what needs to be done first and where we are at with certain things

[2022-08-10 07:24] KalleHallden commented on #4
Okay I see, no worries!

[2022-08-10 07:29] ckelwin commented on #28
@KalleHallden We should be working from (branching out and merging back into) the `master` branch. Having multiple open branches outside of `master` with different features will create a merge hell situation when they need to be merged back into master later on. It also causes confusion as to what is in which branch.

I suggest all features, big or small be branched out from and merged back into m

[2022-08-10 08:07] #22 closed

[2022-08-10 08:13] KalleHallden commented on #28
Okay I'm not really sure I understand how what you describe is different from what is currently being done? We have a master branch and then other branches that are branching out from master and merging back in aren't we?

I've also seen suggested git structure something like this:
master
---- version
-------- feature 1
-------- feature 2
-------- bug 1

Where everything is merged into the version

[2022-08-10 14:08] Programmer-RD-AI commented on #6
I think the project board is really useful. And a good way for other contributors to know the future and the goals of the project. I think it is similar to the discussion section and generally better. So I will close this GitHub issue.
With best regards

[2022-08-10 14:08] #6 closed

[2022-08-10 19:00] dinurymomshad commented on #10
@KalleHallden I have been wondering if we should stick with Bloc or change to something else? For example Riverpod may be? Let me know what you think. If you have any preferences or not.

[2022-08-10 19:54] HaardikBhagtani opened #37 "a unique heroTag needs to be defined"
This error appears on the excercise_card.dart page-
[code]
code which gives error is-
[code]
we need to define a unique heroTag for every exercise card.

[2022-08-10 20:42] jorre127 opened #39 "Logout button immediately logs you out"
When pressing the logout button you immediately get logged out instead of getting a "are you sure" popup first.

[2022-08-10 21:25] jorre127 opened #40 "Improve loading for workout page"
Currently when you open the workout page you show a future builder which contains a loading indicator while loading. When it is loaded you then show the actual page. The problem is that only the loaded page contains a scaffold, the error and loading states of this page do not contain a scaffold. This causes some visual problems when loading the page because it flashes black for a moment while load

[2022-08-10 21:38] jorre127 opened #41 "Fix navigation"
When finishing a workout you go to the calendar page. But the problem is that you can then navigate back using the back arrow to the workout you just finished (I assume this is not intended seeing as we already finished and saved this workout at this moment).

Also when pressing the back button on the workout page, we do a pop and then push to the calendar screen. This looks visually confusing bec

[2022-08-10 21:42] jorre127 commented on #41
Also fix this issue where we can go back twice when opening a workout from the calendar

https://user-images.githubusercontent.com/44479965/184025582-ccd8b867-eec8-4a2d-ad29-98270eade537.mp4

[2022-08-10 21:51] jorre127 opened #42 "Block ability to enter empty workout name"
Now there is no check to see if you entered an empty workout name. This might cause some issue later on. Also check on duplicate workout names. The dropdown button expects every dropdown menu item to have a unique value, so it break when you have multiple items of the same value. This is how it looks when I added multiple workouts with no name.
<img width="463" alt="Screenshot 2022-08-10 at 23 50

[2022-08-10 22:04] jorre127 opened #43 "General improvements"
Just some general improvements that I thing would future proof the app.

- Add a central file with all the colours/textStyles, this has already been added in the form of the global.dart file, but a ton of places still don't use this file and redefine the color again and again. This could be problematic when adding extra themes/dark mode for example.
- Use named routes. Storing the names of each ro

[2022-08-11 09:39] jorre127 commented on #28
@KalleHallden I think what he means is that we skip the in-between branches like "login" and "smaller-features" that are currently being used. instead Pull requests will just be made directly to the master. This way we don't have multiple branches running parallel to the master each with different changes. This makes it easier to know what is currently in the app and will also help with merge conf

[2022-08-11 21:14] jorre127 opened #46 "Exercise totals widget not working when viewing workout from calendar"
The exercise totals widget seems to always display 0 when opening a workout from the calendar in view mode, in redo mode it seems to work fine.
![Screenshot 2022-08-11 at 23 14 39](https://user-images.githubusercontent.com/44479965/184243442-d459b64b-71a3-416c-9893-7430a9f38afd.png)

[2022-08-11 21:26] Scount commented on #14
@KalleHallden I think i got the solution. I connected the app with my private Firebase and it worked like a charm.
I am using the [Firebase-CLI](https://firebase.google.com/docs/cli) for connecting the app with Firebase. But since the app is already connected, you should see something like that:
<img width="943" alt="firebase_google_sha" src="https://user-images.githubusercontent.com/13836859/1842

[2022-08-12 06:32] Scount commented on #10
@dinurymomshad As i can see, we aren't using the real bloc atm. I think it's more like an repository approach since the networking calls are directly inside the 'bloc'.
I would prefere to use Riverpod, since we can also provide own states with the StateNotifierProvider or simply can use AsyncData or something like that.
### Architecture change suggestion
Also i would make a change in the architect

[2022-08-12 06:48] dinurymomshad commented on #10
@Scount https://github.com/KalleHallden/exer_log/issues/10#issuecomment-1206686825
What do think about this?

[2022-08-12 08:23] Scount commented on #10
Yes you are right with the view --> controller including logic --> repository.
What i mean with logic is global logic, functions like sort and filter which are used multiple times from different controllers. I didn't dive in the code that deep to search for things like that but i think, if something like this exists it has to be defined globally so any controller hat access to the same logic.

[2022-08-12 08:41] dinurymomshad commented on #10
I think I will get started with very basic implementation. And then we can proceed from there. I am using Riverpod

[2022-08-12 09:29] himanshu634 opened #48 "There are so many unused imports"
I recently checked the project and there are so many unused imports is it necessary or can we just remove them?

[2022-08-12 10:08] himanshu634 opened #50 "Minor warnings"
There are some minor warnings in application code can i remove that..

[2022-08-12 10:18] PranavPurwar commented on #50
yes

[2022-08-12 13:27] dinurymomshad commented on #10
Work In Progress: https://github.com/dinurymomshad/exer_log/tree/feature/authentication-refactor

@KalleHallden can you assign this issue to me please? And also update in project board if you have any?

[2022-08-12 15:16] jorre127 opened #53 "improvement in formatting"
Maybe it would be a good idea to run dart format for the whole project before making every pull request, this way the formatting is the same across the app. Currently the problem is that every contributor has different formatters, line lengths etc., which makes it harder when reviewing pull requests to see what are the actual changes, and what is just the formatting changing.

[2022-08-12 17:16] ckelwin commented on #28
@KalleHallden Branches you mentioned like 'feature 1', 'feature 2', 'bug 1'... these will be created in other's (not your) forked repository. We'll need to create a PR from our repo into your repo's master branch. So they shouldn't appear in your repo at all. As for 'version', there is no need to create a branch specifically for the 'next release' we are working for. That is the 'master' branch. U

[2022-08-13 10:13] rileyhawk1417 commented on #53
Would it work just to use the default Formatter that comes with Flutter?
When I reinstall my dart plugins I get prompted to add a config file for the dart formatter.
Not sure if it's relevant though.

[2022-08-13 10:56] jorre127 commented on #53
Yeah but I don't think we can force everybody to use the same formatter. Also people might have different settings like line length and such. this is why in the pull request right now everybody's formatting looks different which makes it hard to see the changes. The dart format command should always format the same, so if that gets run before each PR we should only see the actual changes, not any

[2022-08-13 11:03] rileyhawk1417 commented on #53
I see so I guess probably having a uniform format or code structure should just work for everyone then?
For example writing functions and variables in a certain way that makes it clean and not congested.

[2022-08-13 11:09] jorre127 commented on #53
Yeah I good start would be to write commas at the end of every line and attribute, this forces the formatter to put these on separate lines and help to make the formatting more uniform.

[2022-08-13 11:14] rileyhawk1417 commented on #53
So I guess it's just a matter of writing a config file that will be read by the formatter, then format the code accordingly?

[2022-08-13 11:23] jorre127 commented on #53
Yeah or just use the dart format command, this automatically formats the code according to dart guidelines, so it will be the same for everyone.

[2022-08-13 11:56] BertVanMieghem commented on #3
In order to keep this issue moving I've created a pull request containing a first proposal for some linter rules. I haven't actually applied the rules to the code but it might give you a better idea @KalleHallden.

[2022-08-13 13:07] dinurymomshad commented on #48
We can definitely but waiting for this to go through #55. Otherwise lots of conflicts will rise.

[2022-08-13 13:59] richardamare opened #59 "Refactor MyApp widget FutureBuilder"
This block of code could be written better  →  use inline null-check (`user == null ? ... : ...`)

![image](https://user-images.githubusercontent.com/50375553/184497377-cb2a7fac-009a-4524-93a7-c345b337ca52.png)

[2022-08-13 14:11] richardamare opened #60 "Fix move function body out of the widgets"
It would be much better if there would be a function (`void doSomething() { ... }`) instead of leaving a function logic inside of a widget

[code]

[2022-08-13 15:54] suzanpradhan commented on #10
@dinurymomshad I suggest you to change the project folder to root too. (Currently its in app/exerlog/) Since this is already a massive update might as well add that too.

And, @KalleHallden, lets merge #55 pull request first than anything, then we can update other features and contribute base on this architecture.

[2022-08-13 16:00] dinurymomshad commented on #10
You are right. Gonna do that.

[2022-08-13 16:14] dinurymomshad commented on #10
@suzanpradhan done. Please give it a review if you will. I have built the project and ran the app.

[2022-08-14 00:14] adisve commented on #43
I took a quick look at the project and couldn't help but notice that he doesn't seem to make full use of the Cubit/Bloc functionality.

A lot of the conditionals could be abstracted upon and a lot of the app flow can be reinvented to make use of for example state classes and bloc events. Mainly to circumvent any annoying bugs that are hard to pinpoint.
Currently, a lot of the code can be improved

[2022-08-14 03:03] himanshu634 commented on #48
Ok, I understood!

[2022-08-14 03:03] #48 closed

[2022-08-14 03:04] #50 closed

[2022-08-14 12:56] aayushchugh opened #63 "Automation: Add workflow for automatically create new release when pull request is merged into main branch (I can do that)"
I think that we should have a workflow in this repo which will automatically create new release on every pull request merged into
main branch. but we have to follow some strict steps to implement this

- Create new `dev` branch and set it to default
- Every one should follow `conventional commits` eg:- `feat(login): ✨ added feedback for users`
- Use `semantic release` for creating new release (thi

[2022-08-14 20:40] mfederowicz opened #64 "login and forgot password feedback for users valid with OWASP recommedations"
Hi @KalleHallden I know that login feedback for users were raised in that [PR](https://github.com/KalleHallden/exer_log/pull/16)
but for seucrity reasons i think will be good to use OWASP recommendations for that kind of labels (ie: dont inform user that used credentials match/dont match to existing accout)

source of correct and incorrect responses

1. https://cheatsheetseries.owasp.org/cheatshee

[2022-08-15 04:03] suzanpradhan commented on #64
Great. I guess we can change Login error responses to "Login failed; Invalid email or password."

But for Account Creation,

![image](https://user-images.githubusercontent.com/74817169/184575093-d1e690da-b280-435c-ab74-d50ab166ed6b.png)

As of now, we dont have any verification email sent to user mail, so do we have any suggestion for that?

[2022-08-15 11:06] mfederowicz commented on #64
Hmm, it is not good to give users access to system without veryfication of email account. I know that application is in early development stage, but maybe it is good point to think about it :)

[2022-08-15 17:38] MarkusZoppelt commented on #9
PR #56 fixes this. Please merge if possible.

[2022-08-16 07:52] #9 closed

[2022-08-16 07:59] #10 closed

[2022-08-16 08:05] KalleHallden commented on #64
Yeah I think this is a good thing to correct as well.

[2022-08-16 08:25] dinurymomshad opened #66 "Can we have the option to add designated reviewer for the time being?"
### Would really like a discussion section. (https://docs.github.com/en/discussions)

How are we planning to make sure, people can add others as reviewers? I can't add anyone for review. Given we have a structure in place, we should have the option to add people as reviewers.

[2022-08-16 08:29] dinurymomshad commented on #59
#55 Great catch. This was already dealt with on #55

[2022-08-16 08:36] KalleHallden commented on #66
Great idea [discussion](https://github.com/KalleHallden/exer_log/discussions/67) here.

[2022-08-16 08:38] dinurymomshad opened #68 "Splash Screen"
If we have a splash screen then we can check
1. If the user is logged in
2. If the app is newly installed
3. This would also solve the black screen issue, after logging in.

**From the design side, I am thinking**: A screen with Logo and App Name in the middle. The background color is our app's primary background color.

[2022-08-16 08:40] dinurymomshad opened #69 "Generic Error Screen & Error Widgets"
For any unexpected issue, we can show the Generic Error Screen. We can also add some generic error widgets.

[2022-08-16 08:40] dinurymomshad commented on #66
Nice. Thanks, @KalleHallden

[2022-08-16 08:40] #66 closed

[2022-08-16 16:41] #59 closed

[2022-08-16 23:55] 0RaMsY0 commented on #68
this a function i use for the splash screen
[code]
this is how i use it in my project
the ShowPage widget is what i call as the home in the MaterialApp btw
[code]

pls if i have a mistake or something that well help emprove this then tell me i'am still a beginner at flutter,

[2022-08-16 23:58] 0RaMsY0 commented on #15
we can say at the login "wecome back $username"
i think that is what alot of apps do

[2022-08-17 00:31] 0RaMsY0 opened #70 "Change the instruction in the README.md on how to build the app"
It not a big thing but you should remove or replace this line from the [README](https://github.com/KalleHallden/exer_log/edit/master/README.md)
from

CD into the project
[code]
to

CD into the project

[code]
because the app source code is no longer inside of the ```app/exerlog```

[2022-08-17 04:06] dinurymomshad commented on #68
@0RaMsY0  This is mostly similar to what I have in mind. But instead of stream builder, we will rely on providers from riverpod. I will work on this today. You can check my implementation and let me know if you have suggestions.

[2022-08-17 04:18] dinurymomshad commented on #70
@0RaMsY0 good catch. Feel free to open a PR on it.

[2022-08-17 09:41] #70 closed

[2022-08-17 09:47] KalleHallden commented on #63
Yeah this would be a great thing to implement. I have created a branch called [alpha](https://github.com/KalleHallden/exer_log/tree/alpha) that I think we can use instead of the dev branch. Unless you think that dev would be a more conventional name that would be more suitable?

[2022-08-17 09:47] KalleHallden commented on #60
Yeah good idea

[2022-08-17 09:53] KalleHallden commented on #46
Yeah it should work but it doesn't auto update as the reps and stuff change. It's a button, so you can press it and then it will update the numbers correctly. Not very well written, this was one of the smaller bugs that I had forgotten about hehe

[2022-08-17 09:57] KalleHallden commented on #43
Yeah this is a great idea and where my lack of knowledge in terms of software architecture comes into play. I have just done a haphazard job where I've sometimes followed some structure and then forgotten about that and done something different. So this is probably a big job but it definitely needs to be done.

[2022-08-17 10:03] KalleHallden commented on #42
Yeah that is a good point. Duplicate workout names need to be checked for. My thinking about empty workout names was just that the naming of a workout is only for when you want to save the workout as a template to redo later. So maybe not the best UX but the idea was, if the workout name is left blank then it isn't a workout template so then it doesn't matter and should be blank. But like you've s

[2022-08-17 10:19] aayushchugh commented on #63
I will start working on this now. I think `alpha` will be good name

[2022-08-17 10:20] #37 closed

[2022-08-17 10:53] aayushchugh commented on #63
@KalleHallden I have completed the task but I am not sure If I should submit pull request in `master` or `alpha`
Please tell me in which branch I should create pull request

[2022-08-17 11:02] aayushchugh commented on #63
`Alpha` is behind `master` I think you should update that and than I will create pull request in `alpha` only

[2022-08-17 11:05] aayushchugh commented on #63
@KalleHallden I have completed the task. but I can't create pull request in `master` because If you merge that, It will trigger action to create new release and `alpha` branch is behind master so I think that you should update `alpha` with `master` first. Than I will create new pull request in `alpha`

[2022-08-17 12:09] KalleHallden commented on #63
Alright I think I have done that now :)

[2022-08-17 12:30] KalleHallden commented on #69
@all-contributors please add @dinurymomshad for architecture and code

[2022-08-17 12:49] KalleHallden commented on #63
What does the personal access token need in terms of access?

[2022-08-17 12:50] aayushchugh commented on #63
I granted these permissions duringtesting

![image](https://user-images.githubusercontent.com/69336518/185136237-af15225d-0c59-4026-a6f9-1caae4dca4c0.png)
![image](https://user-images.githubusercontent.com/69336518/185136336-4ab04144-11a0-42e0-a395-885f5c633e16.png)

[2022-08-17 12:59] KalleHallden commented on #63
Alright it has been added

[2022-08-17 13:03] KalleHallden commented on #64
@all-contributors please add @suzanpradhan for project management and ideas & planning

[2022-08-17 13:04] KalleHallden commented on #42
@all-contributors please add @jorre127 for bug reports and reviewed pull requests

[2022-08-17 13:53] aayushchugh commented on #63
Should I close this issue or you will do that ?

[2022-08-17 13:54] suzanpradhan commented on #68
I guess it's better to stick with native splash rather than making our own in flutter. The native splash will be displayed from start app until calling the `runApp()` and you can initialize Firebase part before `runApp`.

[2022-08-17 14:06] ramsy0dev commented on #68
@dinurymomshad ok

[2022-08-17 14:36] momshaddinury commented on #68
@suzanpradhan but we need to customize the UI. Are you suggesting we customize the native UI?

[2022-08-17 14:51] suzanpradhan commented on #68
There are already many packages that will do it for us. Popular one might be: https://pub.dev/packages/flutter_native_splash

[2022-08-17 15:12] ramsy0dev commented on #68
@suzanpradhan i think it better to hardcode it then using a third-party package

[2022-08-17 16:17] mfederowicz opened #83 "initial run errors - FirebaseOptions"
I wanted run this application for the first time, so I installed flutter from https://docs.flutter.dev/get-started/install/linux, next run all steps from Development section, then run:

[code]

of course Chrome with debug mode started, but stopped with error on console:

[code]

[code]

of course this is my first run, and maybe I should install some additional libs (or make additional config) to a

[2022-08-17 16:19] suzanpradhan commented on #68
Yeah, you are right and you will have more customization too like adding animations in splash screen. But, since we are having only logo and name, it's fine to let package do it instead of doing manual work.

[2022-08-17 16:47] ramsy0dev commented on #68
@suzanpradhan  Ok i see what you mean

[2022-08-17 16:57] #63 closed

[2022-08-17 17:38] jorre127 commented on #83
Im pretty sure this is just because you ran it in chrome. The app currently isn’t optimised for web, only iOS and android. Can you try again on one of these platforms?

[2022-08-17 17:59] ShivamMenda commented on #60
Hey, @KalleHallden Can I take up this issue if it's up for grabs?
It would help me understand the codebase better for future contributions.

[2022-08-17 19:00] 0RaMsY0 commented on #83
@jorre127 did you install the stable version of flutter?

[2022-08-17 19:31] jorre127 commented on #68
Personally I would actually use the splashscreen in flutter. This would give us more flexibility in customising the splash screen (adding animations and such). It would also allow us to be able to put all the initialization logic (firebase, getting data from database/api, etc.) there, instead of putting all this before the runApp, which isn't really desirable imo. If we make the flutter splash loo

[2022-08-17 19:35] jorre127 commented on #69
@KalleHallden I don't know If this would be too much work, but maybe for issues like this were new UI items are being added it would be good if you provided a design? This way the app stays uniform design-wise and we don't get a bunch of mismatched widgets designed by different people.

[2022-08-17 19:40] jorre127 commented on #15
I believe this has already been merged, so maybe we should close this issue and continue in #64 for improvements?

[2022-08-17 21:50] linxydmhg opened #84 "Simplify/Create the AlertDialog API"
It would be a good enhancement to create some common base classes/simple API for your AlertDialogs, so that much repeated, similar, mostly design boilerplate code can be eliminated from various places.

In the end we can go, for example, from this:

``` The entire DeleteWorkoutAlert.class ```

Plus

[code]

To just these few lines of code

[code]

Like this we can eliminate some then redundant cla

[2022-08-18 00:42] mfederowicz commented on #83
Ok I finished flutter configuration:

[code]

and after launch selected android emulator, application stared:

[code]
Maybe it will be good idea to add tip in Development section about iOS and Android compatibility

[2022-08-18 03:40] momshaddinury commented on #83
@mfederowicz we can close this issue right?

CC: @KalleHallden

[2022-08-18 04:36] suzanpradhan commented on #68
Hmm, putting all the initializations before `runApp()` could be tedious. Then, lets create the same splash screen as native one. Native splash will be displayed on app bootup then flutter one is shown during initialization.

[2022-08-18 05:55] #83 closed, assigned to nobody

[2022-08-18 05:57] KalleHallden commented on #84
Great suggestion! The entire code base can definitely be refactored quite a bit

[2022-08-18 06:00] KalleHallden commented on #69
@jorre127 yeah that is a good idea. Is there a convention for how to add design suggestions or do I just attach images in issue comments?

[2022-08-18 06:02] #15 closed

[2022-08-18 06:05] KalleHallden commented on #60
@ShivamMenda yes absolutely! Thank you

[2022-08-18 06:07] ShivamMenda commented on #60
@KalleHallden I'll look into it thanks! While Creating the PR I'll also mention the file names and functions I changed so that it'll be easy to check and keep track.

[2022-08-18 06:07] #24 closed

[2022-08-18 06:08] #13 closed

[2022-08-18 06:09] KalleHallden commented on #14
@Scount awesome work man! Yeah I'll see if I can fix that in the coming days

[2022-08-18 06:18] KalleHallden commented on #25
@ckelwin yeah this is actually a case that I haven't thought about before you mentioned it. So I don't have a great answer or plan for how to display this in a useful and efficient way for the user.

I'm thinking that if there are more workouts than one on a particular day then we may need the intermediate step/screen always.
if workouts_on_day > 1:
show a list like this
- name A 9:22AM
- name B 5

[2022-08-18 06:23] jorre127 commented on #69
@KalleHallden I don't know what programme you use to design, but if you were using Figma you can just add links to the pages here, this way we can see the exact measurements, colours etc. I'm sure other design platforms have something similar.

[2022-08-18 06:26] KalleHallden commented on #28
@ckelwin haha no worries man thanks for all the help!

Yeah I think we might have solved the branch thing now the way that you meant. I have made the alpha branch the default branch so that is the one that we work on and merge into. So that is the release branch or the latest branch and the master will be used as the stable branch. Not sure if I should remove the other branches from the repo so th

[2022-08-18 06:29] KalleHallden commented on #69
Okay I'll take a look at that then, I used adobe xd to design it

[2022-08-18 06:32] momshaddinury opened #86 "BUG: Showing the calendar-screen briefly followed by a black-screen with loading indicators before navigating to the workout-screen after login"
**Steps to reproduce**:

1. Logout if you are logged in.
2. Close and remove the app from recent. Restart the app
3. Login with valid credentials
4. Notice that for a brief period showing the calendar screen followed by a black screen before navigating to the workout screen

_Expected_: After login, the user should navigate to the Workout screen

**Video**
https://user-images.githubusercontent.com

[2022-08-18 06:33] momshaddinury commented on #69
@KalleHallden I'd suggest Figma because it lets you share links to specific screens. And it's a web app so easier to view.

[2022-08-18 06:39] momshaddinury commented on #86
@KalleHallden I know what is causing this issue. But before solving it we need to define navigation logic. Right now a user navigates to the workout screen on login/signup.
But I vote for the following:
1. Upon signing up - Navigate the user to workout screen
2. Upon login - Navigate the user to calendar screen

Proposed solution:
With the help of a login boolean flag, we can check if a user is lo

[2022-08-18 06:42] momshaddinury commented on #86
@ckelwin @jorre127 please have a look.

[2022-08-18 06:43] KalleHallden commented on #69
Yeah I've done some googling and figma seems to be the best candidate

[2022-08-18 06:45] KalleHallden commented on #86
Yeah I agree with that flow of events as well, seems to make the most sense

[2022-08-18 06:48] KalleHallden commented on #68
I believe #85 now closes this issue right?

[2022-08-18 06:55] momshaddinury commented on #68
Yes. I am not able to link issues to PR for some reason. Is that normal? I think only people with write-access can do that.

[2022-08-18 08:23] jorre127 commented on #86
@dinurymomshad @KalleHallden Yeah that flow seems good to me. Is this issue partially the same as #40? because if so we should probably close that issue.

[2022-08-18 08:24] momshaddinury commented on #86
Most probably. Alright on it. Thanks, @jorre127.

[2022-08-18 10:32] momshaddinury commented on #86
@jorre127 yes, I initially thought the black screen loading was caused by how I was handling `authStateChanges()`. But this #40 is what causing the issue. I will solve that as well.

[2022-08-18 14:14] ramsy0dev opened #89 "Getting a StateError (bad state) when creating a new workout"
Whene creating a New Worckout after providing the name of it
i get an exception that says the following:
***
![Screenshot from 2022-08-18 15-12-54](https://user-images.githubusercontent.com/86024158/185417982-6af08911-4688-46e0-814b-434083729c74.png)

(the file that has the Exeption is [this one](https://github.com/KalleHallden/exer_log/blob/alpha/lib/Bloc/max_bloc.dart))
***

[2022-08-18 15:44] jorre127 opened #92 "REFACTOR: We should rework the way we currently use colours and store them in a central spot"
We should future-proof the way we use colours in the app so that, if we want, we can easily add themes in the future. linked to PR #94

[2022-08-18 18:07] momshaddinury commented on #89
Can you add a video and steps to reproduce? @0RaMsY0

[2022-08-18 19:17] ramsy0dev commented on #89
For some reason my recording software is not working but i am gonna try and tell you steps
so when you are in the home page and click on "Start a new workout" then you get to an auther page that pops up a TextField
 where you type  an exercie name wich is this one

![Screenshot_20220818-200838](https://user-images.githubusercontent.com/86024158/185475848-87ba63a1-9623-4df0-ab60-23c5cef2dd41.png)

[2022-08-18 19:50] 0RaMsY0 commented on #89
i found that
[code]
dons't have any element and we shouldn't be checking if it null in line 58
we should check if it is not an empty array i did that with the following
[code]

i did that and now i get a new problem  here it is :
![Screenshot from 2022-08-18 20-39-06](https://user-images.githubusercontent.com/86024158/185480122-8b4fda69-19dc-4ff9-b3fb-103d85937fca.png)

[2022-08-18 22:26] 0RaMsY0 commented on #89
i think i found what makes this Exception get thrown
the bug is in the line 36 in [max_builder.dart](https://github.com/KalleHallden/exer_log/blob/alpha/lib/UI/maxes/max_builder.dart) because i think there we are checking for an error to calculate percentage from the user enerted data but there well be no error since the function that the StreamBuild uses wich is getOneRepMax() will return
[code]

[2022-08-19 08:33] Ki-er commented on #68
https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls

#85

Anyone can link issues by doing #<issue number>

If you just want to reference it then you can do Ref #85, or if it closes it then you can do `Closes #85`

[2022-08-19 14:15] ramsy0dev commented on #89
i fixed this issue in #96

[2022-08-19 15:22] momshaddinury commented on #68
Nah that is not working. I will close this now.

[2022-08-19 15:22] #68 closed

[2022-08-19 20:14] TheAmanM opened #98 "Minor calendar widget improvement"
The calendar widget could be modified to show a single centered, ideally larger `CircularProgressIndicator()`, Right now, it shows 35 `CircularProgressIndicator()` simultaneously.

As of now, this is what the widget looks like.
![Screenshot_2022-08-19_23-53-03](https://user-images.githubusercontent.com/75181008/185699328-b6c5961a-a197-41aa-8f3e-bc70f8dac52e.png)

[2022-08-20 07:40] #40 closed

[2022-08-20 07:40] #86 closed, assigned to nobody

[2022-08-20 07:46] #92 closed, assigned to nobody

[2022-08-20 08:15] KalleHallden commented on #98
Yes this is a great issue!

[2022-08-20 12:30] Luqmaan2 opened #104 "I keep getting an error when i try to compile it looks like a syntax error"
![image](https://user-images.githubusercontent.com/73324519/185746269-7b15b062-53b5-476e-9349-b2a614ec2976.png)

[2022-08-20 14:06] jorre127 commented on #104
Think this is linked to pr #105 a PR was merged that replaced the colors in global.dart with a new system, problem is right after that another PR was merged that still uses the old colours, seeing as they don't exist anymore you now see this error.

[2022-08-20 14:59] jorre127 commented on #104
made a PR #106 that should fix this.

[2022-08-20 17:06] tenshiAMD opened #109 "Setup `mergeable` to enforce coding standards"
I would like to suggest using [mergeable](https://github.com/mergeability/mergeable) to enforce coding standards. In my experience, this will help in maintaining the codebase.

[2022-08-20 17:09] tenshiAMD commented on #109
@KalleHallden It is an honor to help regarding this matter, first we need to set up a new repo `.github` for this to work.

[2022-08-20 17:15] tenshiAMD opened #110 "Setup `CODEOWNERS` file"
We need to setup `CODEOWNERS` file to properly distribute for the maintainer/s

[2022-08-20 17:50] tenshiAMD commented on #109
@KalleHallden Firstly, we need to follow this [installation guide](https://mergeable.readthedocs.io/en/latest/usage.html) to make this work. Thank you.

[2022-08-20 19:31] TheAmanM opened #116 "noNetworkConnectionSnackBar.dart Error"
`noNetworkConnectionSnackBar.dart` currently contains the following code:

[code]

`redBackgroundColor` and `textColorBlue` do not exist in `global.dart`

[2022-08-20 19:42] mfederowicz commented on #116
Hi @TheAmanM check https://github.com/KalleHallden/exer_log/pull/106, we know about the problem, please be patient :)

[2022-08-20 19:45] ramsy0dev commented on #116
sorry i forgot to do a push to my global.dart that contains the  textColorBlue and redBackgroundColor values the issue well get fixed in  #117

[2022-08-20 20:14] TheAmanM commented on #116
Understood, thank you! Should I close this issue?

[2022-08-20 20:15] PickleNik opened #118 "Readme buggies"
<img width="423" alt="Screen Shot 2022-08-20 at 4 12 35 PM" src="https://user-images.githubusercontent.com/31113245/185764568-689b36c6-cb9a-405d-a18b-8c3a867ed774.png">
<img width="466" alt="Screen Shot 2022-08-20 at 4 13 13 PM" src="https://user-images.githubusercontent.com/31113245/185764582-f053464e-f9ae-4225-8776-d931d507db0a.png">

Seems like the shields.io badges don't like to be centered in

[2022-08-20 20:17] ramsy0dev commented on #116
By the way i looked into the pull requests that got merged @jorre127 when he did this [PR](https://github.com/KalleHallden/exer_log/pull/94) he accidently removed the colors from the global.dart file and his PR was merged after my PR was merged, and that cause to  `redBackgroundColor` and `textColorBlue` not being found

[2022-08-20 20:21] ramsy0dev commented on #118
you can use it as an image instead and redirect the user if he clicked on it to an other page using the ```a``` tag

[2022-08-20 20:24] ramsy0dev commented on #46
can we save the total for each workout in the firestore then when viewing the workout it will display that total instead of recalculating eveything ?

[2022-08-20 20:27] PickleNik commented on #118
yep, that's in #119 PR and added to @all-contributors bot template in #120

(edit: I reread, not exactly another page, just changed Markdown syntax that didn't work inside a `<p align="center"` to `<a href="#contributors>` and `<img src="shields.io" >` tags that do work inside the *p* tag)

(edit 2: #107 already covers stuff done in #119 and more so I closed #119 in favor of #107 )

(edit 3: reope

[2022-08-20 20:48] jorre127 commented on #116
For anyone reading check discussion in #117 for more info.

[2022-08-20 20:51] PickleNik commented on #118
Also submitted a [proposal issue](https://github.com/all-contributors/all-contributors/issues/615) to change allcontributors bot's default rc to not have a borken link by default. Upvote if you'd like

[2022-08-21 02:00] shashankdaima opened #123 "Firebase distribution with github actions."
@KalleHallden I was thinking it would be good if we can add firebase distribution for bunch of testers/contributors. It is super simple, I am pasting a yaml file that I use for almost all my projects.
[code]

[2022-08-21 03:05] TheAmanM opened #124 "Firebase Features Suggestion"
@KalleHallden It might be a good idea to implement [Firebase Crashlytics](https://firebase.google.com/docs/crashlytics) and [Performance monitoring](https://firebase.google.com/docs/perf-mon). These will give you good insight about your app on the Firebase console.

Here is some sample code for implementing Crashlytics, it looks pretty simple:

[code]

[2022-08-21 06:51] #104 closed, assigned to nobody

[2022-08-21 06:51] #116 closed, assigned to nobody

[2022-08-21 06:52] #118 closed, assigned to nobody

[2022-08-21 06:55] #39 closed

[2022-08-21 07:09] #110 closed, assigned to nobody

[2022-08-21 07:20] KalleHallden commented on #89
@0RaMsY0 how come you closed #96?

[2022-08-21 08:02] Luqmaan2 commented on #104
thanks

[2022-08-21 11:01] tenshiAMD commented on #109
@KalleHallden Please follow this [installation guide](https://mergeable.readthedocs.io/en/latest/usage.html) to make this work. Thank you.

[2022-08-21 12:37] mfederowicz opened #130 "Workouts not saved to database and historical workouts not show in calendar"
Hi iam trying to create new test workouts
![test-workouts](https://user-images.githubusercontent.com/57678185/185790981-5589386f-3e73-4c4b-9d31-e880d8444cbb.png)

but after back to main screen on calendar there are no info about my workouts, just empty calendar

![home-calendar](https://user-images.githubusercontent.com/57678185/185791092-bf9ad570-295e-45de-bd9e-ee703c4052ab.png)

is it normal beh

[2022-08-21 12:40] mfederowicz commented on #130
O course, Iam trying to sign out/sign in, and the results are the same :(

[2022-08-21 12:40] ramsy0dev commented on #89
@KalleHallden I thaught i was already fixed by someone else,
i have reopened it

edit: @jorre127 and i are still discussion this issue and we are not sure if what i did will actually fix this issue

[2022-08-21 13:21] ramsy0dev commented on #41
i think i did fix this in #99

[2022-08-21 13:26] ramsy0dev commented on #130
@mfederowicz  when saving the workout did you tap on this button
***
![Untitled](https://user-images.githubusercontent.com/86024158/185793072-2dd2a90f-e365-46e4-a003-b421a96d82e3.png)
***
if not then can you retry.

[2022-08-21 13:54] mfederowicz commented on #130
![Screenshot_20220821_154820_com hallden exerlog](https://user-images.githubusercontent.com/57678185/185794096-93159df3-b612-4a9a-afa0-72a7606f4e70.jpg)
oooo ok, now its working, but only when you set rep > 0, maybe will be better to show accept sign only when user make required modifications in excersise settings?

[2022-08-21 14:07] tenshiAMD commented on #109
@KalleHallden also we need to declare who are the main reviewers so we can enable the auto-merge feature if you want,

[2022-08-21 14:09] ramsy0dev commented on #130
Or a warning that pop up if the user made changes and accidentally tap on the back button

[2022-08-21 15:37] MhouneyLH opened #132 "Error, while creating a new workout in debug-mode"
I want to contribute to this project and followed the "how to get started"-instructions described in the readme-file. Im still getting this error in heroes.dart, when i. e. creating a new workout in debug-mode. When trying the same thing without debug-mode than it works perfectly.

![image](https://user-images.githubusercontent.com/78447003/185798755-7a9bc049-5ed1-4e61-80f1-8dfbfc2288fe.png)

Does

[2022-08-21 16:10] jorre127 commented on #132
Yeah it's because the floating action button used in the cards needs a unique heroKey, but right now this isn't supplied. A solution would be to give them all unique keys, but personally I would just make the floating action button custom, because it's a really easy widget to make and would give us more customisation in the future.

[2022-08-21 16:16] mfederowicz commented on #130
yeah that wold be a good idea too )

[2022-08-21 17:05] jorre127 commented on #124
in addition to this we should probably also put the content of the main into a runeZonedGuard and catch and report the errors to firebase crashlytics.

[2022-08-21 17:16] MhouneyLH commented on #132
Okay, so then could I work on this feature? I make a custom floating action button.
The custom floating action button should not have the heroTag-property, shouldn't it? (but all the other features + extra features for the future, when needed)

[2022-08-21 17:19] jorre127 commented on #132
@MhouneyLH  I don't have the right to assign you to this but I'd say go for it. Yeah the button shouldn't have a herotag seeing as we won't be using it. Things to note tho when making a custom FAB. Don't forget the inkwell effect a FAB has and don't forget the shadow. The rest should just be straightforward a round container with an icon in the middle and a color.

[2022-08-21 17:20] jorre127 commented on #132
@MhouneyLH If you would like to add extra features, I would change the inkwell animation to something else on IOS, because generally IOS doesn't have the inkwell effect.

[2022-08-21 18:13] ramsy0dev commented on #132
we can set the heroTag for them to be ```null``` for now and then work on costumising them in the future. so that the issue be gone for now, and work on finding other issues. i guess

[2022-08-21 18:19] jorre127 commented on #132
@0RaMsY0  Don't think that is gonna work because they are all null right now. I think it uses a default key then, but seeing as they all use this default key the error occurs. Seeing as this isn't a breaking issue but just a error you get in the console, I believe we can take the time to fix it properly.

[2022-08-21 18:27] ramsy0dev commented on #132
i have faced the same issue a couple of minutes ago i changed the heroTag for the floatingActionBar that save the workout into null, that means as you said they use the same heroTag so if when i changed one to null it worked

[2022-08-22 07:00] KalleHallden commented on #124
@all-contributors please add @TheAmanM for code, maintenance and

[2022-08-22 07:26] TheAmanM commented on #124
Good point on the runZoneGuarded. The code, according to Firebase documentation should then be:

[code]
Also @jorre127, how do you know so much about Flutter? Where do you learn everything from?

[2022-08-22 08:00] jorre127 commented on #124
@TheAmanM I work for a company that makes flutter apps, so that helps a lot haha. Just by coming into contact with it everyday I guess.

[2022-08-22 13:04] destrex271 opened #139 "Unit Tests For essential features"

[2022-08-22 13:51] momshaddinury commented on #139
Before we can write unit tests we need good architecture. As of now, the code is not testable. But this is a good issue. We should hurry up with the transition.

Login and sign up are refactored. Calendar and Workout screen logic needs refactoring.

[2022-08-22 13:55] momshaddinury commented on #3
@BertVanMieghem I can't find your PR. We should finish implementing this.

[2022-08-22 16:16] destrex271 commented on #139
So i think we can start preping up the required unit tests for the auth flow in the application, and while we are at it how about we add some flow diagrams to the readme as we progress with the developement?

[2022-08-22 18:48] tenshiAMD opened #141 "Mergeable not working now"
Mergeable not working now after the repo got switched to an organization.

[2022-08-23 04:59] momshaddinury commented on #141
I have sent an install request. @KalleHallden needs to approve it.

[2022-08-23 09:38] jorre127 commented on #139
I think maybe we should only start adding unit tests when a page is done, and won't need to be changed much in the future. Because it's really annoying having to fix the tests again every time you make changes. The auth screens will probably get a redesign and with it might come some functional changes so I think we should wait till that's done.

[2022-08-23 16:23] jorre127 commented on #89
@0RaMsY0  I looked into it and fixed the problem, problem is then I got a lot of different errors haha. Seeing as the workout page is going to be reworked anyway in the transition to riverpods, I don't think it's useful to try and fix all the errors right now. It's better to just redo it I think. If you agree I'm going to close the PR for now.

[2022-08-23 19:24] ramsy0dev commented on #89
@jorre127 alright you can close it thanks for your help

[2022-08-24 05:37] momshaddinury commented on #139
I agree

[2022-08-24 05:45] KalleHallden commented on #141
I think I approved the request, lmk if there's something else that needs to be done on this end

[2022-08-24 14:10] tenshiAMD commented on #141
I will be closing this issue now since mergeable is working as of the moment. Thanks everyone!

[2022-08-24 14:10] #141 closed, assigned to momshaddinury

[2022-08-24 14:27] destrex271 commented on #139
Yup that sounds good

[2022-08-24 15:05] tenshiAMD commented on #17
@KalleHallden Currently, we have [mergeable]( https://github.com/EXERLOG/exer_log/issues/109) to help check, I suggest using [lefthook](https://github.com/evilmartians/lefthook) instead. I'm willing to help regarding this matter.

[2022-08-24 15:14] tenshiAMD commented on #109
@KalleHallden hi now that we have other maintainers, we can add them too as required reviewers for a PR to be merged (on your behalf), what do you think?

[2022-08-24 16:25] momshaddinury commented on #109
Please do that. I was wondering about this. In total we have three maintainers.
1. @jorre127
2. @tenshiAMD
3. @dinurymomshad

[2022-08-24 19:34] tenshiAMD commented on #109
@dinurymomshad yes that's what I mean

@KalleHallden also please add branch protection rules for the main branch (alpha) and master like this and check all mergeable status checks, thanks in advance

<img width="890" alt="branch protection rules" src="https://user-images.githubusercontent.com/13580338/186506571-f284302a-3621-4063-8885-e9886fdec2f1.png">

[2022-08-25 15:00] hoffmannkrzysztof opened #149 "Refactor: replace ThemeProvider"
What is a reason of using  custom ThemeProvider instead of using native light/dart mode in MaterialApp? We should migrate all colors to separate classes ThemeDate/

[2022-08-25 15:11] momshaddinury commented on #149
Please take this to the discussion tab.
Link: https://github.com/EXERLOG/exer_log/discussions

Closing this issue.

[2022-08-25 15:11] #149 closed, assigned to nobody

[2022-08-25 16:46] PickleNik opened #154 "Proposing to change license from MIT to GPLv3"
[MIT](https://opensource.org/licenses/MIT) to [GPLv3](https://opensource.org/licenses/GPL-3.0)

Motivation behind this change: prevent proprietary derivative works.

The main reason for this change is to provide protection against the future distribution of the exer_log app in a proprietary form, while at the same time maintaining all of the freedoms to use, change or share the project which are c

[2022-08-25 17:16] lukelavery commented on #154
As far as I understand, the GPL licence will require anyone using this code to open source the project. This seems like a sensible change, to prevent others from using this code to make a profit.

It may be useful to have an open discussion about any other licenses that are worth consideration

[2022-08-25 18:06] mfederowicz commented on #46
maybe the problem is with implementation because when you click REDO button:

[code]
totals widget works well, and each button click shows proper values, but VIEW button have:

[code]
Iam just guesting, because for now my application flow knowledge is on beginning level :)

[2022-08-25 19:51] PickleNik commented on #154
This is __not__ correct and is a common misconception, all GPL open-source licenses allow for commercial use and distribution.
They do require any forks to be kept open-source, which means any modifications of and improvements to the app must be shared _**if**_ they are being distributed. So nobody can say, clone the repo, add a crypto miner or an IP grabber to it and publish it to the AppStore/Pl

[2022-08-25 20:44] lukelavery commented on #154
So the main benefit of a license like this would be to prevent improper use of the code?

And do you have thoughts on using a more restrictive license that would prevent commercial use?

[2022-08-25 21:31] PickleNik commented on #154
The main benefit is keeping changes and improvements open-source (that doesn't necessarily prevent improper use, but makes it more unlikely) and prevents from re-licensing code under a closed-source proprietary license which MIT allows for.

I'm personally not aware of any open-source license that prevents commercial use, when you do that it becomes more like source-available rather than open-sour

[2022-08-25 22:00] lukelavery commented on #154
I see, thank you for explaining.

Would love to hear @KalleHallden 's thoughts on this, and your motivations to open-source the project.

The prevention of re-licensing seems like an interesting idea to keep any code developed within the open-source community. MIT is possibly too permissive in this regard?

[2022-08-25 22:52] PickleNik commented on #154
![image](https://user-images.githubusercontent.com/31113245/186782397-19e95f8a-18e7-4b13-a49d-81c4f4450e58.png)
here's a good diagram about that

[2022-08-26 01:34] ckelwin commented on #28
@KalleHallden I suggest deleting stale branches that are no longer needed. Less clutter. You can update the repository settings to automatically delete source branches when a pull request is merged. This is mainly to clean up future branches you push and merged (other contributor's branches will be in their own repo).

Settings > General > Pull Requests > Automatically delete head branches.

[2022-08-26 15:31] momshaddinury opened #161 "Implement named routing"
Things to do:
- Simplify navigation boilerplate using an extension on context
- Use named routing

[2022-08-26 16:08] ckelwin commented on #89
@jorre127 I've not been able to create workout for a while now. The calendar widget does not show a clickable day icon after creating the workout. Having trouble logging in as well (login button turns into spinner forever). I don't know if it's something wrong with my local or the code.

I'll create a separate issue for the login if no one has done so. Not sure if the problem I'm facing with canno

[2022-08-26 16:18] jorre127 commented on #89
@ckelwin does the workout that doesn't show up on the calendar have zero reps? Because maybe it has something to do with #130

[2022-08-26 16:32] #41 closed

[2022-08-26 16:59] tenshiAMD opened #163 "Run build checks in every PR"
We need this so we can be sure every PR does not break the build.

[2022-08-26 17:00] tenshiAMD commented on #163
I will do this later.

[2022-08-26 17:39] tenshiAMD opened #164 "Add template for pull requests"
We need this so all can have can explain the details of their changes.

[2022-08-27 03:45] ckelwin commented on #89
@jorre127 Attached a screen recording.

https://user-images.githubusercontent.com/5429312/187013156-4671b7e5-db28-4844-a098-22772c6bf620.mp4

[2022-08-27 06:26] #164 closed, assigned to tenshiAMD

[2022-08-27 09:42] ckelwin commented on #89
I was having the said problem with creating and/or viewing workouts when using an emulator. Switched to a physical device and it's working fine now. Much faster as well.

[2022-08-27 17:10] vivekdusad commented on #84
Can I Work On This Issue?? or is it Solved

[2022-08-27 18:13] PickleNik commented on #154
@dinurymomshad @KalleHallden @tenshiAMD @mfederowicz
I'd really appreciate your input on this :)

[2022-08-27 18:29] mfederowicz commented on #154
@PickleNik i think that @KalleHallden as original author of this application, should decide about type of used license. To be honest iam only contributor, and I like develop/learn new things :)

[2022-08-27 19:30] PickleNik commented on #154
True, but all contributors need to agree on this for him to change the license if decides that he wants to.

[2022-08-30 05:18] #132 closed, assigned to MhouneyLH

[2022-08-31 05:54] KalleHallden commented on #154
@PickleNik I think this looks like the GPLv3 would be a suitable license to use. I just chose the MIT to have some sort of license that I have used before. So I'm happy to switch to GPLv3

[2022-08-31 06:17] KalleHallden commented on #84
@vivekdusad I am not sure if this was solved completely in the #97 PR. @jorre127 what do you think?

[2022-08-31 06:22] KalleHallden commented on #28
Great suggestion, I have done that now.

[2022-08-31 06:26] jorre127 commented on #84
@KalleHallden Hmm #97 did improve it by moving the alert to a mixin, but I don't think it's complete quite yet. currently. We still have separate methods to call different alerts like "showLogoutAlert", but this ideally should all be one method "showCustomAlert" or maybe a couple If we want really specific alerts. And then just customise the alert by passing the right properties like title, accept

[2022-08-31 06:31] KalleHallden commented on #84
Okay nice then it's all yours if you still want it @vivekdusad

[2022-08-31 16:09] PickleNik commented on #154
Great, now we just have to make sure everyone's cool with it :)

@jorgelrj @TheAmanM @hannest03 @rachitkakkar @luca400 @aayushchugh @ckelwin @Bogdwynny @MhouneyLH @0RaMsY0 @md-siam @lukelavery @mfederowicz @tenshiAMD (sorry for the ping 😰)

Please 👍 if you're ok with this change

[2022-08-31 16:30] vivekdusad commented on #84
ok Thanks ;)

[2022-08-31 19:26] MhouneyLH commented on #53
If nobody has already started I would like to add this to the codebase. :)
We just need to add a new job in the workflows, that runs flutter format. Should not be that big of a deal, shouldn't it?

[2022-08-31 20:30] MhouneyLH commented on #89
I have the same issue. Did you find out, why it doesn't work on the emulator?
I get the following error with the emulator:

![image](https://user-images.githubusercontent.com/78447003/187776121-507b36a3-d82a-43ed-a5d0-98330657b17e.png)

[2022-08-31 22:47] 0RaMsY0 commented on #154
@PickleNik yeah i think GPLv3 is a very good choice

[2022-09-01 10:53] momshaddinury commented on #84
Did you start? I am already working on it since this morning. :/

[2022-09-02 10:50] luca400 commented on #163
Have you started on it or can I give it a go?

[2022-09-02 12:53] aayushchugh opened #174 "Request to create a website for this open-source project"
We can also develop a react website and share the database and implement same features in the website
so that everyone can use this app who don't have IOS device

[2022-09-02 15:12] tenshiAMD commented on #174
@aayushchugh yes great suggestion but I think we need to focus on completing android first. If someone does not have iOS then I assume they use android instead.

[2022-09-02 15:49] aayushchugh commented on #174
@tenshiAMD We can do both, because this is a big community and people would like to contribute in both of them

[2022-09-02 16:18] #163 closed, assigned to tenshiAMD

[2022-09-02 17:45] tenshiAMD commented on #163
@luca400 yes I already started it on my end and I was just busy these past few days in order to complete it.

[2022-09-02 18:16] tenshiAMD commented on #163
@all-contributors please add @mfederowicz  for bug

[2022-09-02 18:26] tenshiAMD commented on #174
@aayushchugh yes that's correct, also the final decision is up to @KalleHallden which ones are the most priority. He is currently developing a great plan for this project.

[2022-09-02 18:54] jorre127 commented on #174
@aayushchugh A website would be nice, but wouldn't it make sense to also use flutter for that? This way we don't need to have an entire separate project and can just tweak the ui for web.

[2022-09-02 19:02] aayushchugh commented on #174
@jorre127 but there is a big community for react

[2022-09-02 19:06] tenshiAMD commented on #174
@aayushchugh I agree with @jorre127 since flutter already can do web too

[2022-09-02 19:07] KalleHallden commented on #174
@aayushchugh I’m not sure what you mean since the app works on android, so it’s not an IOS only app?
the only reason to create a website would be so that people can run the app on a laptop? But in that case I think it would make more sense to do what @jorre127  suggests which is sticking with flutter. We would hardly need to make any changes I believe in order to run it in a browser :)

[2022-09-02 19:07] aayushchugh commented on #174
@tenshiAMD but if we will do Android than we can use react native and react for website

[2022-09-02 19:08] aayushchugh commented on #174
@KalleHallden we can do that

[2022-09-02 19:09] aayushchugh commented on #174
My bad I didn't realised that flutter also works on Android 🙂

[2022-09-02 19:23] tenshiAMD opened #179 "Add stalebot to manage stale and irrelevant PRs and issues"
I suggest adding [stalebot](https://github.com/apps/stale) so we can manage stale and irrelevant PRs and issues.

[2022-09-02 19:25] tenshiAMD commented on #179
I can do this later. @EXERLOG/maintainers are you cool with it? Let me know. Thanks!

[2022-09-02 19:30] tenshiAMD commented on #109
@KalleHallden hi may I follow this one? Thanks!

[2022-09-03 05:02] aayushchugh commented on #179
@tenshiAMD We should also add [Repository Commander](https://github.com/marketplace/shriproperty-bot)

I am actively maintaining this project this will help in label automation and use of `/slash` commands in comments
I am also working on some another features and will release them soon

I can also add/change features based on requirements

[2022-09-03 06:28] tenshiAMD commented on #179
@aayushchugh Thanks for letting us know. We will review if we can use it based on our use cases.

[2022-09-06 04:40] momshaddinury commented on #179
This is nice. We do have lots of issues popping up.

[2022-09-06 04:42] momshaddinury commented on #154
@PickleNik can you sort this out, please? I think everyone agrees

[2022-09-06 04:43] PickleNik commented on #154
Looks like @jorgelrj @TheAmanM are the only remaining votes needed from people who contributed directly to the codebase and not to the outside files.

[2022-09-06 04:48] aayushchugh opened #184 "Proposal to add issue templates"
here is example

https://github.com/shriproperty/server/issues/new/choose

[2022-09-06 04:50] aayushchugh commented on #179
@tenshiAMD I have implemented the functionality in bot that it will ask for more information on issues if the body is less than 20 characters long

![Screenshot 2022-09-05 185937](https://user-images.githubusercontent.com/69336518/188549403-563dfcaf-d942-45f0-905e-0585d7656267.png)

These features are not configurable yet but in next release I will make everything configurable

[2022-09-06 05:06] momshaddinury commented on #154
Okay, let's wait one more day if we don't get any reply. Let's change it to GPLv3

[2022-09-06 05:09] PickleNik commented on #154
I've reached out to @jorgelrj via email and I'm not sure how to reach @TheAmanM although they seem to be active on Github.

I am not a lawyer, but it seems like the contributions from both of them have been heavily edited to the point where it could be considered Fair Use, but a thumbs up for confirmation would still be appreciated from both regardless :)

[2022-09-06 05:15] aayushchugh commented on #174
No sure should I close this as completed or not planned. I am closing this as not planned for now because we didn't write any code or made actual contribution

[2022-09-06 05:15] #174 closed, assigned to nobody

[2022-09-06 05:18] aayushchugh opened #185 "Please add logo to @EXERLOG organization"
@KalleHallden currently there is no logo on organization profile. I would recommend adding the logo as avatar on profile

[2022-09-06 06:13] TheAmanM commented on #154
Woah, that's a lot of text!
Apologies for the lack of response. I will take a look at this in a few hours from now.

[2022-09-06 07:54] tenshiAMD commented on #179
@aayushchugh thanks for letting us know however we already using `mergeable`. FYI, we can set up the same use case with it.

[2022-09-06 07:55] tenshiAMD commented on #179
@dinurymomshad alright then let's implement it. 😄

[2022-09-06 09:41] tenshiAMD commented on #185
@aayushchugh Yes, correct. We will be adding it soon. Thanks for the reminder.

[2022-09-06 09:43] tenshiAMD commented on #185
@aayushchugh I will close this one since it's irrelevant for this repo. I already ping @KalleHallden in our org discussion. Thanks! :tada:

[2022-09-06 09:43] #185 closed, assigned to KalleHallden

[2022-09-06 09:51] tenshiAMD commented on #184
@aayushchugh thanks for the suggestion. We will be adding templates soon.

[2022-09-06 09:52] aayushchugh commented on #184
@tenshiAMD if you want I can add them

[2022-09-06 09:52] aayushchugh commented on #184
@tenshiAMD if you want I can add them

assign this issue to me

[2022-09-06 09:59] tenshiAMD commented on #184
@aayushchugh Actually, I already have some prepared templates here. Also, anyone can post an issue without a template for now then we can ask them for additional details. We may need to discuss this internally.

[2022-09-06 12:38] TheAmanM commented on #154
@PickleNik All good with me!

[2022-09-07 17:50] #184 closed, assigned to tenshiAMD

[2022-09-07 18:08] tenshiAMD commented on #179
@KalleHallden please install stale by following [this guide](https://github.com/apps/stale)

[2022-09-10 11:09] MuhammedHazem opened #189 "Implement Exercise type"
We could add an Exercise type feature in which the user could select the type of exercise he's gonna add. for instance: cardiovascular exercise, strength exercise...

[2022-09-10 20:54] MhouneyLH commented on #43
Why is this issue is still open? Since it was merged, the issue should automatically close, shouldn't it?

[2022-09-11 02:03] tenshiAMD commented on #43
@MhouneyLH I think only @jorre127 can confirm if all are done here

[2022-09-12 16:20] #189 closed, assigned to nobody

[2022-09-19 20:22] mfederowicz commented on #3
@KalleHallden we added support for linter in this https://github.com/EXERLOG/exer_log/pull/191 so I think we can close this issue if you want :)

[2022-09-19 21:10] mfederowicz opened #198 "Firebase config: add workoutId in documents returned from getWorkoutOnDate"
### Steps to reproduce
When main calendar widget is builded we use function getWorkoutOnDate on every element(day) of calendar, That function returns snapshots with workout documents, but without id field. It is not a problem with define id field in Workout object, but with data returned from Firebase (maybe problem with proper configuration of collection or something)

### Expected behavior
Worko

[2022-09-19 22:36] #3 closed

[2022-09-19 22:37] #179 closed, assigned to tenshiAMD

[2022-09-20 21:18] tenshiAMD opened #199 "Ensure all contributors are added"
For us to be greatly motivated, we need to ensure all contributors are added.

[2022-09-20 21:19] tenshiAMD opened #200 "Configure stale management in mergeable"
Since stablebot is not yet installed, we need to configure stale management in mergeable as a workaround.

[2022-09-20 21:22] tenshiAMD commented on #199
Currently, we have 11 out of 21. That's 10 contributors are still missing.

[2022-09-21 15:10] #200 closed, assigned to tenshiAMD

[2022-09-25 19:37] justChris commented on #7
Actually the auto generated firebase keys do not need to be restricted generally. There are a few cases where restriction is recommended though. See the following documentation.
https://firebase.google.com/docs/projects/api-keys#apply-restrictions

[2022-09-25 20:49] mfederowicz commented on #199
@tenshiAMD i checked content of .all-contributorsrc and it contains only 11 login entries

[2022-09-25 21:29] mfederowicz commented on #199
so I think we should add another PR (or comments in this issue) with commands for allcontributors[bot] to add another contributors, because content of https://github.com/EXERLOG/exer_log/graphs/contributors is generated automatically and can have much more contributors than .all-contributorsrc file which depends on bot commands :)

[2022-09-27 09:48] mfederowicz commented on #198
@KalleHallden can you take a look on this please?

[2022-09-28 14:12] #26 closed

[2022-09-28 14:12] #27 closed

[2022-09-28 14:12] #60 closed

[2022-09-28 14:12] #14 closed

[2022-09-28 14:12] #42 closed

[2022-09-28 14:12] #69 closed

[2022-09-28 14:12] #64 closed

[2022-09-28 14:12] #98 closed, assigned to nobody

[2022-09-28 14:12] #130 closed, assigned to nobody

[2022-09-28 14:12] #124 closed, assigned to nobody

[2022-09-28 14:12] #123 closed, assigned to nobody

[2022-09-28 14:12] #139 closed, assigned to nobody

[2022-09-28 14:12] #46 closed

[2022-09-28 14:12] #161 closed, assigned to nobody

[2022-09-28 14:12] #28 closed

[2022-09-28 14:12] #89 closed, assigned to nobody

[2022-09-28 14:12] #84 closed, assigned to nobody

[2022-10-02 13:10] randomGithubAccount2 opened #206 "Firebase configuration"
**Steps to reproduce**
Fetch any data from the database

**Expected behavior**
User should only have access to own files

**Actual behavior**
Once logged in as any user, you can access any file in the database (see attached video) and hereby personal data of other users

**Other Information**
You should set up access restrictions for firebase, maybe using cloud functions or something like that.

_

[2022-10-03 09:27] #43 closed

[2022-10-17 20:08] #7 closed

[2022-10-18 05:29] #199 closed, assigned to tenshiAMD

[2022-10-19 17:08] #198 closed, assigned to nobody

[2022-10-24 15:22] #206 closed, assigned to nobody